__pycache__
*.pyc
*.pyo
*.pyd
.Python
.vscode
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.gitignore
.mypy_cache
.pytest_cache
.hypothesis
ml-1m/
explicit/
implicit/
embeddings/
test.ipynb